// *************************************
//
//   Base
//   -> Tag-level settings
//
// *************************************

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(33deg, #89253e, #3a6186);
  color: $white;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  min-height: 100%;
}

body {
  font-size: 100%;
}

// -------------------------------------
//   Block Content
// -------------------------------------

// ----- Headings ----- //

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: $heading-fontFamily;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: $space-025;
  margin-top: 0;
}

h1, .h1 {
  font-size: $heading-fontSize-h1;
}

h2, .h2 {
  font-size: $heading-fontSize-h2;
}

h3, .h3 {
  font-size: $heading-fontSize-h3;
}

h4, .h4 {
  font-size: $heading-fontSize-h4;
}

h5, .h5 {
  font-size: $heading-fontSize-h5;
  font-weight: normal;
}

// -------------------------------------
//   Inline Content
// -------------------------------------

// ----- Links ----- //

a {
  color: $white;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba($white, 0.8);
  }
}

// ----- Images ----- //

img {
  height: auto;
  max-width: 100%;
}
