// *************************************
//
//   Tracks
//   -> Listing of all tracks
//
// *************************************

.tracks-link {
  align-items: center;
  display: flex;
}

.tracks-img {
  display: block;
  opacity: 0.4;
  transition: opacity 0.25s ease-in-out;
  width: 110px;
}

.tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tracks-track {
  background: rgba(#3a6186, .1);
  border-radius: 4px;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, .1);
  flex-basis: 20%;
  margin: $space-025;
  padding: $space-05;
  position: relative;
  transition: transform 0.25s ease-in-out;

  a {
    color: $white;
  }

  &:hover,
  &:active {
    box-shadow: 0 1px 8px 4px rgba(0, 0, 0, .1);
    transform: scale(1.05);
    z-index: 1;

    a {
      color: $white;
    }

    .tracks-img {
      opacity: 1;
    }

  }

}

.tracks-title {
  margin: 0;
}

.tracks-artist {
  color: rgba($white, 0.6);
  font-weight: normal;
  margin: 0 0 $space-025 0;
}

.tracks-lastRanked {
  color: $boulder;
  font-size: $fontSize-xs;
  margin-bottom: 0;
}
